
.tw-followCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: .8rem;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4PX;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48PX;
  border-radius: 50%;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUser {
  opacity: .6;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16PX;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}

.tw-followCard-button:hover {
  background-color: #aaa;
  transition: 0.3S ease background-color;
}