body {
  display: flex;
  place-content: center;
  align-items: center;
  margin: 0;
  background: #222;
  font-family: system-ui;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}